@using AntDesigner.NetCore.GameCity;
@model IEnumerable<IRoom>
@{
    Layout = "~/Views/Shared/_LayoutHaveManue.cshtml";
}
<h2>游戏大厅</h2>
<button id="createRoom" class="btn btn-warning btn-xs  text-center buttnMargin">开新房间</button>
<button id="joinRoom" class="btn btn-warning btn-xs  text-center buttnMargin">随机选择</button>
<button id="showFindRoomModal" class="btn btn-warning btn-xs  text-center buttnMargin">查找房间</button>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>房间</th>
                <th>门票</th>
                <th>游戏</th>
                <th>人数</th>
                <th>满员</th>
                <th></th>
            </tr>
            @{
                foreach (var room in Model)
                {
                    <tr>
                        <th>@room.Name</th>
                        <th>@room.TicketPrice<span>元</span></th>
                        <td>@room.InningGame.IGameProject.ShowName</td>
                        <td>@room.Players.Count()<span>/</span>@room.PlayerCountTopLimit</td>
                        <td>@(room.IsFull==true? "已满":"")</td>
                       @if (room.IsFull != true)
                       {
                        <td><a class="joinRoom" href="/Citys/Rooms/JoinRoom?gameCityId=@room.GameCityId&roomId=@room.Id" value="@room.TicketPrice">进入</a></td>
                       }
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
<!--查找房间 -->
<div class="modal fade" id="FindRoomModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">查找房间</h4>
            </div>
            <div class="modal-body">
            <label>房间名称</label><input type="text" id="roomName" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="findRoom">查找</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
    @section styles{

    }
@section scripts{
    <script>
        function CreateRoom() {
            $(location).attr('href', '/Citys/Rooms/Index_CreateRoom');
        };//新建房间
        function JoinRoom() {
            var joinRoomLinks = $(".joinRoom");
            if (joinRoomLinks.length==0) {
                return;
            }
            var index = parseInt(Math.random() * joinRoomLinks.length);
            var linka= joinRoomLinks.get(index);
            var roomPrice = $(linka).attr("value");
            if (NoticPrice(roomPrice)!=true) {
                return;
            }
            var link = linka.href;
            $(location).attr("href", link);
        }//随机进入
        function NoticPrice(roomPrice)
        {
            if (roomPrice > 0) {
                if (confirm("需要支付门票" + roomPrice + "元才能进入该房间,是否愿意?")) {
                    return true;
                } else {
                    return false;
                }
            }
            else { return true;}
            
        }//有门票提示
         function JoinChooseRoom(event)
        {
           var linka = event.target;
           var roomPrice = $(linka).attr("value");
            if (NoticPrice(roomPrice) != true) {
                return false;
           }
           else
            {
                return true;
            }

        }//选择进入
        function showFindRoomModal()
        {
            $('#FindRoomModal').modal('show');
        }
        function FindRoom()
        {
            var roomName = $("#roomName").val();
            if (roomName.length==0) {
                alert("请输入房间名称");
                return;
            }
            $(location).attr('href', "/Citys/Rooms/FindeRoomsByName?name=" + roomName);
        }//查找房间
        $(function () {
            $("#createRoom").on("click", CreateRoom);
            $("#joinRoom").on("click", JoinRoom);
            $("#showFindRoomModal").on("click", showFindRoomModal);
            $("#findRoom").on("click", FindRoom);
            $(".joinRoom").on("click", function (event) {  return JoinChooseRoom(event) });
        })
</script>
}
